body {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(89, 164, 89);
}

header {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 15vh;
  background-color: green;
  font-family: 'Nabla', cursive;
}

#reset {
  background-color: rgb(255, 94, 0);;
  color: rgb(255, 94, 0);
  font-family: 'Nabla', cursive;
  letter-spacing: 3px;
  border: 2px solid rgb(221, 221, 23);
  border-radius: 10px;
  height: 30px;
  width: 80px;
}

#game-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30vh auto;
  width: 525px;
}

.innerSquare {
  background-color: rgb(114, 228, 114);
  border: 2px solid rgb(114, 228, 114);
  width: 20px;
  height: 20px;
  margin: 0;
}


.odd-idx {
  background-color: rgb(103, 206, 103);
  border: 2px solid rgb(103, 206, 103);
}

.snake {
  background-color: green;
  border: 2px solid black;
}

.apple {
  color: red;
  font-size: 20px;
  font-family: 'Oi', cursive;
  margin: 0;
  position: relative;
  -webkit-text-stroke: 2px red;
}
.apple::before {
  content: "`";
  position: absolute;
  font-size: 10px;
  color: green;
  -webkit-text-stroke: 2px green;
  left: 6px;
  top: 0;
  overflow: hidden;
  z-index: 9999;
}

.game-over {
  background-color: transparent;
  
}
span {
  margin-top: 15px;
  display: block;
  font-family: 'Nabla', cursive;
  font-size: 30px;
}

#game-over-container {
  position: absolute;
  font-size: 20px;
  display: none;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30vh auto;
  width: 505px;
  height: 426px;
  border: 3px solid black;
}

#game-over-container > h2 {
  font-family: 'Nabla', cursive;
  font-size: 40px;
}